.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.BreakSessionContainer {
  display: flex;
}

.BreakSessionContainer > div {
  margin: 10px;
}

.BreakLength, .SessionLength {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
}

.Actions > button {
  margin: 5px;
}